*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Exo 2', sans-serif;
}

#navbar-menu{
	display: block;
	background-color: #999999;
	border: 3px solid black;
	width: 100%;
}

.navbar-nav{
	margin: 0 -15px;
	display: block;
}

.navbar-header{
	padding-top: 0;
	float: left;
	font-size: 0.5em;
}

.navbar-brand{
	padding: 0;
	font-size: 50px;
}

.navbar-brand > h1 {
	float: left;
	font-size: 36px;
	font-weight: bolder;
	margin-top: 8px;
	margin-left: 10px;

}

.navbar-brand > h1 > a{
	text-decoration: none;
	color: black;

}

#nav-list a{
	font-size: 1.5em;
	color: black;
	font-weight: bold;
	text-align: center;
	background-color: gray;
	border: 3px solid black;
}

#nav-list a:hover{
	background-color: #e7e7e7;
}

.navbar-default{
	border: 0;
}

.navbar-toggle{
	color: black;
	background-color: black;
	border: 3px solid white;
	margin-top: 15px;
}

.menu-content{
	margin: 15px;
}

.main-title{
	margin-top: -3px;
	margin-bottom: 5px;
}

.menu-content{
	display: block;
	padding: 10px;
	background-color: #999999;
}

.main-title{
	font-size: 45px;
	font-weight: bolder;
}

.menu-content > h4{
 	font-size: 25px;
 	font-weight: bolder;
}