*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Exo 2', sans-serif;
}

#navbar-menu{
	display: block;
	background-color: #999999;
	border: 3px solid black;
	height: 70px;
	width: 100%;
}

.navbar-nav{
	margin: 0 -15px;
	display: block;
}

.navbar-header{
	padding-top: 0;
	float: left;
	font-size: 0.5em;
}

.navbar-brand{
	padding: 0;
}

.navbar-brand > a {
	color: black ;
	float: left;
	text-decoration: none;
	margin-top: -5px;
	margin-left: auto;
	margin-right: auto;

}

.navbar-brand > h1{
	margin-top: 0;
	font-family: 'Lora', serif;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
}

#nav-list a{
	color: darkgray;
	text-align: center;
	background-color: gray;
	border: 3px solid black;
}

#nav-list a:hover{
	background-color: #e7e7e7;
}

.navbar-default{
	border: 0;
}

.navbar-toggle{
	color: black;
	background-color: black;
	border: 3px solid white;
	margin-top: 15px;
}

.menu-content{
	margin: 15px;
}

.main-title{
	margin-top: -3px;
	margin-bottom: 5px;
}

.menu-content{
	display: block;
	padding: 10px;
	background-color: #999999;
}
