*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

#navbar-menu{
	background-color: #999999;
	border: 3px solid black;
	height: 70px;
	width: 100%;
}

.navbar-header{
	padding-top: 0;
	float: left;
	font-size: 0.5em;
}

.navbar-brand{
	padding: 0;
}

.navbar-brand > a {
	color: black ;
	text-decoration: none;

}

.navbar-brand > h1{
	margin-top: 0;
	font-family: 'Lora', serif;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
}

#nav-list a{
	color: darkgray;
	text-align: center;
	background-color: gray;
	border: 1px solid black;
}

#nav-list a:hover{
	background-color: #e7e7e7;
}

.navbar-toggle, .icon-bar{
	border: 1px solid yellow;
}

.menu-content{
	margin: 15px;
}

.main-content{
	background-color: #999999;
}
